body {
    margin: 0;
    background: #e9e9e9;
    font-family: Georgia, serif;
    color: #14233b;
}

.page {
    width: 900px;
    margin: 40px auto;
    background: white;
    box-shadow: 0 0 20px #ccc;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

header h3 {
    color: #e63946;
}

.hero {
    text-align: center;
    background: #f7f0d4;
    padding: 50px;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

button {
    background: #0b8f70;
    color: white;
    border: none;
    padding: 13px 25px;
    border-radius: 25px;
    cursor: pointer;
}

.small {
    font-size: 12px;
}

.row {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 70px 150px;
}

.row img {
    width: 180px;
}

.row h2 {
    font-size: 28px;
}

.row p {
    line-height: 1.6;
}

.features {
    display: flex;
    text-align: center;
    padding: 60px 90px;
    gap: 40px;
}

.features h3 {
    font-size: 50px;
}

.features h2 {
    font-size: 20px;
}

.features p {
    font-size: 14px;
}

.map {
    background: #fff3f3;
    text-align: center;
    padding: 70px;
}

.mapbox {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.world {
    font-size: 200px;
}

.map h1 {
    font-size: 45px;
    margin: 10px;
}